body {
    background-color: #333333; /* Dark background */
    color: #ffffff; /* Light text color */
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444444; /* Slightly lighter than the body background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Light text color */
}

.rest-Password {
    padding: 20px;
    background-color: #555555; /* Slightly lighter than the container background */
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    border-radius: 0;
    border-color: #666666;
    color: #ffffff; /* Light text color */
    background-color: #333333; /* Same as body background */
}

.form-control:focus {
    box-shadow: none;
    border-color: #80bdff;
    outline: 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    padding: 10px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #80bdff; /* Lighter text color for contrast and readability */
}

.form-control:focus {
    box-shadow: none;
    border-color: #80bdff;
    outline: 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    padding: 10px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}