{% extends 'dashboard.html' %}

{% block title %}429 - Too Many Requests{% endblock %}

{% block additional_css %}
    <style>
       
    </style>
{% endblock %}

{% block content %}
            <div class="" style="display: flex; flex-direction: column; align-items: center; gap: 1rem; justify-content: center; height: 95%; margin-inline: 1rem;">
                <h1>429 - Too Many Requests</h1>
                <p>Sorry, you have exceeded the rate limit. Please try again later.</p>
                <p><a href="/" style="color: aliceblue;">Go back to the homepage</a></p>
            </div>
        
{% endblock %}
